#activator {
  border: none;
  cursor: pointer;
  background: none;
}

.searchWidget {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: black;
    text-decoration: none;
  }

  .modal {
    position: fixed;
    margin-top: 1rem;

    width: 80vw;
    max-width: 32rem;
    border-radius: 0.5rem;
    border: 1px solid whitesmoke;
    padding: 1rem;

    header {
      display: flex;
      gap: 0.5rem;
    }

    footer {
      font-size: 0.8rem;
      color: gray;
      text-align: right;
    }

    .inner {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      .searchInput {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 1rem;

        input[type="search"] {
          padding: 0.5rem;
          display: block;
          line-height: 2rem;
          width: 100%;
          border-radius: 0.5rem;
          border: 1px solid whitesmoke;
          font-size: 1.4rem;
          flex-grow: 1;
        }
      }

      .closeButton {
        border: 1px solid transparent;
        background: none;
        cursor: pointer;
        padding: 0 0.5rem;
        position: relative;
        left: 0.5rem;
      }

      .resultsWrapper {
        overflow-y: auto;
        max-height: 50vh;

        .result {
          display: block;
          padding: 0.5rem;

          em {
            font-weight: bold;
            font-style: normal;
          }

          .title {
            font-size: 1.3rem;
            color: blue;
          }
        }
      }

      .emptyPhraseCallout {
        padding: 1rem 0;
        font-size: 1.2rem;
      }
    }
  }
}
